---
interface Props {
  class?: string;
}

const { class: className = "" } = Astro.props;
---

<div class:list={["flex items-center gap-2", className]}>
  <span class="flex-1 h-px bg-primary/10"></span>
  <span class="w-1.5 h-1.5 rotate-45 border border-primary/20"></span>
  <span class="flex-1 h-px bg-primary/10"></span>
</div>
